manifest {
  author = 'Dan Fornika & John Palmer'
  name = 'BCCDC-PHL/basic-nanopore-qc'
  version = '0.4.0'
  description = 'Filter nanopore reads and collect sequence QC metrics'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  long_read_suffixes = ['*_RL', '*_L']
  fastq_exts = ['.fastq.gz', '.fq.gz', '.fastq', '.fq']
  fastq_search_path = makeFastqSearchPath(long_read_suffixes, fastq_exts)
  fastq_input = 'NO_FILE'
  samplesheet_input = 'NO_FILE'
  tool = 'fastplong'
  min_length = 200
  min_mean_quality = 10
  max_length = 0
  publish_filtered_reads = false
  dehost = false
  hostile_cache_dir = '/data/ref_databases/hostile'
  dehosting_index = 'human-t2t-hla'
  prefix = ''
  cache = ''
  pipeline_short_name = parsePipelineName(manifest.toMap().get('name'))
  pipeline_minor_version = parseMinorVersion(manifest.toMap().get('version'))
}


def makeFastqSearchPath(long_read_suffixes, fastq_exts) {
    def fastq_search_path = []
    if (params.fastq_input.toString() != 'NO_FILE') {
        for (suffix in long_read_suffixes) {
            for (ext in fastq_exts) {
                fastq_search_path.add(params.fastq_input.toString() + '/' + suffix.toString() + ext.toString())
	    }
        }
    }
    return fastq_search_path
}

def parseMinorVersion(version) {
    minor_version = version.split('\\.')[0..1].join('.')
    return minor_version
}

def parsePipelineName(name) {
    short_name = name.split('/')[1]
    return short_name
}

profiles {
  conda {
    conda.enabled = true
    process.conda = "$baseDir/environments/environment.yml"
    if (params.cache){
     conda.cacheDir = params.cache
    }
  }
  apptainer {
    apptainer.enabled = true
    process.container = "oras://ghcr.io/bccdc-phl/basic-nanopore-qc:51146df6e1aeceb8"
    if (params.cache){
      apptainer.cacheDir = params.cache
    }
  }
  docker {
    docker.enabled = true
    process.container = "ghcr.io/bccdc-phl/basic-nanopore-qc:dfc7651bef1c2ade"
  }
}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

process {
  withName: fastplong {
    cpus = 4
  }
  withName: filter_nanoq {
    cpus = 4
  }
  withName: fastplong_stats {
    cpus = 4
  }
  withName: dehost {
    cpus = 4
  }
}
